* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body{
    background-color: #a1c3ff;
    font-family: Poppins, sans-serif;
}
.cl1{
       text-decoration: none;
       color: white;
       font-weight: bold;
      
          }
.navbar{
    font-size: 18px;
    transition:  font-size 0.1s;
    position: fixed;  
    width: 100%; 
}
.contnav a:hover{
    font-size: 20px;
    text-shadow: 2px 2px #5C1DC9;
    color:lightblue;
    }

.contnav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #3474e6;
    height: 60px;
    flex-direction: row;
    flex-wrap: wrap;
}
.logo{
    font-size: x-large;
    color: white;
    
}
.logo:hover{
    text-shadow: 2px 5px #5C1DC9;
}
.nav{
    display: flex;
    list-style-type:none;
    margin-right: 15px;
    font-weight: bold;
}

.navbar ul li{
    margin-left: 30px;
   
}
.contnav div{
    margin-left: 50px;
   
}
.abcont{
   background-color:  #0151cc;
   min-height: 100vh;
   font-size: x-large;
   flex-wrap: wrap;
}
.abcont h1{
    color:white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px #653EA8;
}

.abcont .abdiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}
.abdiv p{
    align-items: center;
    color:white;
    font-size: 25px;
    }
.abcont img{
    align-items: flex-end;
    box-shadow: black;
}

.educont .edu{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction: column;
    margin: 20px;
    flex-wrap: wrap;
}
.edu{
    color: white;
    font-size: 30px;
    
}
.edu ul{
    list-style-type: none;
    border-radius: 5px;
}
.lists li{
    background-color: #0a51cc;
    height: 200px;
    width: 250px;
    border-radius: 10%;
   align-items: center;
   margin: 20px 10px;
   padding: 15px 20px;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
   font-size: large;
   justify-content: space-evenly;
   text-align: center;
    }

.lists div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 400px;
}
